@use '../../../generated.scss' as *;
@use '../../../resets.scss' as *;

.stepper-step {
  @include stepper-step;
  position: relative;
  align-items: center;
  flex: 1 1 0;
  box-sizing: border-box;
  min-width: 0;

  &.first {
    margin-left: -64px; // Pull it left so the leading line extends off screen
    padding-left: 64px; // Add padding to push the circle back to the right
  }
}

.preceding-line {
  position: absolute;
  left: 0;
  width: 64px;
  height: 2px;
  background: $colour-stepper-inactive;

  .current & {
    background: $colour-accent;
  }

  .past & {
    background: $colour-accent;
  }
}

.indicator {
  @include stepper-step-circle;
  flex-shrink: 0;

  .current & {
    @include stepper-step-circle-status_current;
  }

  .future & {
    @include stepper-step-circle-status_future;
  }

  .past & {
    background: $colour-sheet-bg;
    border: 2px solid $colour-accent;
  }
}

.number {
  @include stepper-step-circle-1;

  .current & {
    @include stepper-step-circle-1-status_current;
  }

  .past & {
    color: $colour-text;
  }
}

.line-container {
  @include stepper-step-arrow-and-text;
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: $colour-stepper-inactive;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .past & {
    background: $colour-accent;
  }
}

.arrow-tip {
  margin-right: -2px;
  color: $colour-stepper-inactive;

  .past & {
    color: $colour-accent;
  }
}

.label-wrapper {
  @include stepper-step-arrow-and-text-label-bg;
  position: relative;
  z-index: 1;
}

.label {
  @include stepper-step-arrow-and-text-label-bg-label;
}
