.about {
  color: black;
  .link {
    color: #01a6ae;
    font-weight: 700;
    text-decoration: none;
  }
  .link:hover {
    text-decoration: underline;
  }
  .p {
    margin-top: 0;
    margin-bottom: 18px + 8px;
  }
  .last {
    margin-bottom: 50px;
  }
  .img {
    max-width: 215px;
    height: auto;
  }
}
