@use '../../../generated.scss' as *;

.about {
  color: black;
  .link {
    color: $colour-brand;
    font-weight: 700;
    text-decoration: none;
  }
  .link:hover {
    text-decoration: underline;
  }
  .p {
    margin-top: 0;
    // TODO: consider design match
    margin-bottom: 18px + 8px;
  }
  .last {
    // TODO: consider design match
    margin-bottom: 50px;
  }
  .img {
    // TODO: consider design match
    max-width: 215px;
    height: auto;
    // TODO: consider design match
    margin-bottom: 50px;
  }
}
