@use '../../../generated.scss' as *;
@use '../../../resets.scss' as *;

.about {
  @include eggstractor-plugin-design-about-side-padding-card-the-getting-started-guide-will-walk-you-through-the-steps-for-setting-up-a-demo-project-where-you-can-test-it-all-out;
  //TODO: width is off; should be fixed on next generation.
  width: 100%;
  .link {
    @include eggstractor-plugin-design-about-side-padding-card-link-link-text;
    text-decoration: none;
    cursor: pointer;
  }
  .link:hover {
    text-decoration: underline;
  }
  .p {
    @include reset-p;
    // TODO: consider design match
    margin-bottom: 18px + 8px;
  }
  .last {
    // TODO: consider design match
    margin-bottom: 50px;
  }
  .img {
    // TODO: consider design match
    max-width: 215px;
    height: auto;
    // TODO: consider design match
    margin-bottom: 50px;
  }
}
