/* Generated CSS */
.frame--top {
  background: #FFFFFF;
}
.frame--top_paragraph-alignment-top {
  color: #A3ADAD;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  width: 13.75rem;
  height: 17.5rem;
}
.autolayout--top {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 17.5rem;
  height: 19.25rem;
  padding: 0rem 1.875rem;
}
.autolayout--top_paragraph-alignment-top {
  color: #A3ADAD;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  width: 13.75rem;
  height: 19.25rem;
}
.paragraph-alignment-top {
  color: #A3ADAD;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  width: 13.75rem;
  height: 17.5rem;
}
.frame--middle {
  background: #FFFFFF;
}
.frame--middle_paragraph-alignment-center {
  color: #A3ADAD;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 13.75rem;
  height: 17.5rem;
}
.autolayout--middle {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 17.5rem;
  height: 19.25rem;
  padding: 0rem 1.875rem;
}
.autolayout--middle_paragraph-alignment-center {
  color: #A3ADAD;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 13.75rem;
  height: 19.25rem;
}
.paragraph-alignment-center {
  color: #A3ADAD;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 13.75rem;
  height: 17.5rem;
}
.frame--bottom {
  background: #FFFFFF;
}
.frame--bottom_paragraph-alignment-bottom {
  color: #A3ADAD;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 13.75rem;
  height: 17.5rem;
}
.autolayout--bottom {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 17.5rem;
  height: 19.25rem;
  padding: 0rem 1.875rem;
}
.autolayout--bottom_paragraph-alignment-bottom {
  color: #A3ADAD;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 13.75rem;
  height: 19.25rem;
}
.paragraph-alignment-bottom {
  color: #A3ADAD;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 13.75rem;
  height: 17.5rem;
}