/* Generated CSS */
.nested {
  background: #ffffff;
  gap: 0.5rem;
  padding: 1rem;
}

.nested_auto-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.nested_auto-layout_padding-1 {
  background: #00464a;
}

.nested_auto-layout_padding-2 {
  background: #00464a;
}

.nested_auto-layout_padding-3 {
  background: #00464a;
}
